<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Oracle Corporation//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>autorenew</servlet-name>
        <servlet-class>myapp.RenewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>renewTask</servlet-name>
        <servlet-class>myapp.RenewTaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateconfig</servlet-name>
        <servlet-class>myapp.UpdateConfigServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateVacation</servlet-name>
        <servlet-class>myapp.UpdateVacationServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>autorenew</servlet-name>
        <url-pattern>/autorenew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>renewTask</servlet-name>
        <url-pattern>/renewTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateconfig</servlet-name>
        <url-pattern>/status/updateconfig</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateVacation</servlet-name>
        <url-pattern>/status/vacation/update</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Status</web-resource-name>
            <url-pattern>/status/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>
    <filter>
	    <filter-name>ObjectifyFilter</filter-name>
	    <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>ObjectifyFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>
